* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.teste   {

    border: solid 1px black;
    width: 100vw;
    height: 100px;

}

.container {

    border: solid 1px black;

    display: inline-block;

}

    .quantidade {

        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: green;    

    }
    
        .quantidade p {

            text-align: center;

        }

        .carrinho {

            width: 100px;
            height: 100px;
            
        }

            .img {

                width: 100px;
                height: 100px;
                background-color: aqua;

            }